/* App.css */
.content {
  margin-top: 60px; /* Altura de la TopBar */
  margin-left: 250px; /* Ancho de la NavBar cuando está expandida */
  padding: 20px;
  transition: margin-left 0.3s ease; /* Animación suave cuando la NavBar colapsa */
}

.sidebar.collapsed ~ .content {
  margin-left: 70px; /* Ajuste del margen para la NavBar colapsada */
}