/* Ajusta la estructura para incluir el footer */
.content {
  margin-top: 60px; /* Altura de la TopBar */
  margin-left: 270px; /* Ancho de la NavBar cuando está expandida */
  padding: 20px;
  transition: margin-left 0.3s ease; /* Animación suave cuando la NavBar colapsa */
  flex: 1; /* Hace que el contenido ocupe el espacio disponible */
}

.sidebar.collapsed ~ .content {
  margin-left: 70px; /* Ajuste del margen para la NavBar colapsada */
}
/* Aplica el fondo al body */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que ocupe toda la ventana */

}

/* Estructura principal de la aplicación */
.layout-wrapper {
  display: flex;
  background-image: url('../../assets/fondo.png'); /* Ruta de la imagen de fondo */
  flex-direction: column;
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
}

Footer {
  text-align: center; /* Centra el texto */
  bottom: 0; /* Ajusta el footer al final de la página */
  color: white; /* Texto blanco para visibilidad */
  padding: 10px 0; /* Espaciado vertical */
  font-size: 14px; /* Tamaño del texto */
  position: relastive; /* Mantén el footer en el flujo del diseño */
}