Footer {
  text-align: center; /* Centra el texto */
  width: 100%; /* Asegura que ocupe todo el ancho */
  color: rgb(255, 255, 255); /* Texto blanco para visibilidad */
  padding: 10px 0; /* Espaciado vertical */
  font-size: 14px; /* Tamaño del texto */
  margin-top: auto; /* Empuja el footer hacia el final del contenedor */
}