/* Barra lateral */
.sidebar {
  position: fixed;
  top: 60px; /* Justo debajo de la TopBar */
  left: 0;
  height: calc(100vh - 60px); /* Altura total menos la TopBar */
  width: 50px; /* Ancho colapsado */
  background-color: #1B2E51; /* Fondo */
  color: white;
  display: flex;
  flex-direction: column; /* Elementos en columna */
  justify-content: flex-start; /* Elementos desde el inicio */
  padding: 10px;
  transition: width 0.3s ease; /* Animación de colapso/expansión */
  z-index: 999; /* Debajo de la TopBar */
}

.sidebar.expanded {
  width: 250px; /* Ancho expandido */
}

/* Botón para colapsar/expandir */
.toggle-btn {
  margin-bottom: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Opciones del menú */
.sidebar-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-links li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.sidebar-links li:hover {
  color: #E0ECFA; /* Color al pasar el mouse */
}

/* Submenú de los locales */
.local-item {
  position: relative;
  padding: 10px 5px;
  cursor: pointer;
}

.local-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.3s ease;
}

.local-header:hover {
  background-color: #243b6b;
}

.local-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.local-name {
  margin-left: 10px;
  font-size: 0.9rem;
  display: none; /* Oculto en estado colapsado */
  color: white;
}

.sidebar.expanded .local-name {
  display: inline-block; /* Mostrar en estado expandido */
}

/* Submenú anidado */
.nested-menu {
  list-style: none;
  padding: 5px 0 5px 20px;
  margin: 0;
  display: none; /* Ocultado por defecto */
  flex-direction: column;
}

.nested-menu.visible {
  display: flex; /* Mostrado cuando está activo */
}

.nested-menu li {
  padding: 5px 10px;
  margin: 5px 0;
  color: white;
  background-color: #014;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nested-menu li:hover {
  background-color: #243b6b;
}