.update-password-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9; /* Azul claro */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .update-password-container h1 {
    text-align: center;
    color: #183859; /* Azul oscuro */
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 15px;
    font-size: 16px;
    color: #005B99; /* Azul intermedio */
  }
  
  input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #B9B7B6; /* Gris */
    border-radius: 5px;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #183859; /* Azul oscuro */
  }
  
  input:focus {
    outline: none;
    border-color: #4CA548; /* Verde */
    box-shadow: 0 0 3px rgba(76, 165, 72, 0.5);
  }
  
  .error-message {
    color: #D9453C; /* Rojo */
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4CA548; /* Verde */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3CB344; /* Verde oscuro */
  }