.create-user-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F9F9F9; /* Azul claro PANTONE P 115-9 C */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .create-user-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #183859; /* Azul oscuro PANTONE P 108-16 C */
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 15px;
    font-size: 16px;
    color: #005B99; /* Azul mediano PANTONE P 106-16 C */
  }
  
  input,
  select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #B9B7B6; /* Gris PANTONE P 173-1 C */
    border-radius: 5px;
    font-size: 14px;
    background-color: #FFFFFF; /* Fondo blanco */
    color: #183859; /* Azul oscuro PANTONE P 108-16 C */
  }
  
  input:focus,
  select:focus {
    outline: none;
    border-color: #4CA548; /* Verde PANTONE P 151-8 C */
    box-shadow: 0 0 3px rgba(76, 165, 72, 0.5);
  }
  
  .error-message {
    color: #D9453C; /* Rojo PANTONE P 48-7 C */
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
  }
  
  .save-button {
    background-color: #4CA548; /* Verde PANTONE P 151-8 C */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #3CB344; /* Verde más oscuro PANTONE P 149-7 C */
  }
  
  .cancel-button {
    background-color: #D9453C; /* Rojo PANTONE P 48-7 C */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .cancel-button:hover {
    background-color: #AE2424; /* Rojo más oscuro PANTONE P 49-8 C */
  }