   HOST=localhost (Proyecto en local) o IP servidor (Proyecto en producción)
   PORT=(3000) (Proyecto en local) o Puerto 80 (Proyecto en producción)
   DB_URL=mongodb://mongodb:27017/miBaseDeDatos
   ACCESS_TOKEN_SECRET= ej:eyJhbGciOiJIUzM4NCIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.bQTnz6AuMJvmXXQsVPrxeQNvzDkimo7VNXxHeSBfClLufmCVZRUuyTwJF311JHuh
   REFRESH_TOKEN_SECRET= ej:eyJhbGciOiJIUzM4NCIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.bQTnz6AuMJvmXXQsVPrxeQNvzDkimo7VNXxHeSBfClLufmCVZRUuyTwJF311JHuh
   EMAIL_USER=email@dominio.com
   EMAIL_PASS=clave
