HOST=localhost (Proyecto en local) o IP servidor (Proyecto en producción)
PORT=(3000) (Proyecto en local) o Puerto 80 (Proyecto en producción)
DB_URL=url de la base de datos de MongoDB
ACCESS_TOKEN_SECRET= Crear una clave secreta para el token de acceso
REFRESH_TOKEN_SECRET= Crear una clave secreta para el token de refresco
EMAIL_USER= correo de la cuenta para enviar correos ej:user@email.com
EMAIL_PASS= contraseña de la cuenta para enviar correos ej:password